@import 'reset.scss';

html,
body {
  background: #fbf9fe;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

ul, li, ol {
  list-style: none;
}

input, textarea, keygen, select, button {
  font-size: 14px;
}

i {
  font-size: 20px !important;
}

.app-container {
  height: 100%;
}
// 页面平滑滚动
.scroll-page {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
